.App {
  text-align: center;
  /* Background from - https://uigradients.com/#ClearSky */
  background:#1a1f71;  /* fallback for old browsers */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%; 
  min-height: 100vh;
  height: 100%;  
  font-family: 'Open Sans', sans-serif;

}

